@font-face {
    font-family: Valentine;
    src: url(./valentine_tw/VALEC___.TTF);
    src: url(./valentine_tw/VALENTIN.TTF);
    src: url(./valentine_tw/VALEO___.TTF);
}

@font-face {
    font-family: ProtestStrike;
    src: url(./ProtestStrike-Regular.ttf);
}

* {
    font-family: Valentine;
    font-size: 36px;
    text-align: center;
}

input {
    font-size: 30px;
    font-family: ProtestStrike;
    color: white;
    border-radius: 6px;
    border-width: 4px;
    border-style: solid;
}

#yes {
    background: linear-gradient(90deg, rgba(79,228,110,1) 20%, rgba(0,141,60,1) 80%);
    box-shadow: rgba(35, 66, 48, 0.4) 0 2px 4px,rgba(35, 66, 48, 0.3) 0 7px 13px -3px,rgba(58, 111, 79, 0.5) 0 -3px 0 inset;
}

#no {
    background: linear-gradient(90deg, rgba(228,79,79,1) 20%, rgba(141,0,0,1) 80%);
    box-shadow: rgba(66, 35, 35, 0.4) 0 2px 4px,rgba(66, 35, 35, 0.3) 0 7px 13px -3px,rgba(111, 58, 58, 0.5) 0 -3px 0 inset;
}

img {
    display: block;
    margin: 0 auto;
}

.button-29 {
    align-items: center;
    appearance: none;
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}